App/Dtd/pdq.dtd

<!-- PDQ DTD

   This DTD defines the external structure of the NCI PDQ XML data
   This version is for Cancer.gov only!  Do not provide to licensees.

   Original version  2001/12/17  Michael M Rubenstein

   BZIssue::4707
   BZIssue::4629 - Vendor filter changes for Genetics Professionals
   BZIssue::4949 - Changes for Display of DIS information
   OCECTS-116 - Add nct_id attribute to ProtocolRef element
   OCEPROJECT-3147 - Remove Protocol document type
   OCECDR-3903: Cancer.gov displaying Patient definitions for terms
                in HP Summaries

-->

<!-- =============================================================
     Common Elements
     ============================================================= -->

<!ENTITY % ParaLevelElements
                     " Contact          | EmbeddedVideo    | ItemizedList
                     | LiteralLayout
                     | OrderedList      | QandASet         | Para
                     | MediaLink        | Table ">

<!ENTITY % ParaElements
                     " #PCDATA          | DrugName         | DrugRef
                     | Emphasis         | ExternalRef      | ForeignWord
                     | GeneName         | GlossaryTermLink | GlossaryTermRef
                     | InterventionName | LOELink          | LOERef
                     | MediaLink        | MediaRef         | Note
                     | ProtocolRef      | ProtocolLink     | Quote
                     | Reference        | ScientificName   | Strong
                     | Subscript        | SummaryLink      | SummaryRef
                     | Superscript      | TT">

<!ENTITY % TextElements
                     " #PCDATA          | Contact          | DrugName
                     | DrugRef          | EmbeddedVideo    | Emphasis
                     | ExternalRef
                     | ForeignWord      | GeneName         | GlossaryTermLink
                     | GlossaryTermRef  | InterventionName | ItemizedList
                     | LiteralLayout    | LOELink          | LOERef
                     | MediaLink        | MediaRef         | Note
                     | OrderedList      | Para             | ProtocolRef
                     | ProtocolLink     | QandASet         | Quote
                     | Reference        | ScientificName   | Strong
                     | Subscript        | SummaryLink      | SummaryRef
                     | Superscript      | Table            | TT">

<!ENTITY % TextSectionElements
                     " #PCDATA          | Contact          | DrugName
                     | DrugRef          | EmbeddedVideo    | Emphasis
                     | ExternalRef
                     | ForeignWord      | GeneName         | GlossaryTermLink
                     | GlossaryTermRef  | InterventionName | ItemizedList
                     | LiteralLayout    | LOELink          | LOERef
                     | MediaLink        | MediaRef         | Note
                     | OrderedList      | Para             | ProtocolRef
                     | ProtocolLink     | QandASet         | Quote
                     | Reference        | ScientificName   | Section
                     | Strong           | Subscript        | SummaryLink
                     | SummaryRef       | Superscript      | Table
                     | TT">

<!ENTITY % TitleData " #PCDATA          |  Emphasis        | ForeignWord
                     | GeneName         | ScientificName   | Strong
                     | Subscript        | Superscript      | TT ">

<!ENTITY % Location "OrganizationName*,
                     PostalAddress?, 
                     Phone?, 
                     TollFreePhone?, 
                     Email?, 
                     WebSite?">

<!ELEMENT OrganizationName (#PCDATA)>

<!ELEMENT Diagnosis (SpecificDiagnosis, DiagnosisParent+)>

<!ELEMENT SpecificDiagnosis (#PCDATA)>
<!ATTLIST SpecificDiagnosis ref CDATA #IMPLIED>

<!ELEMENT DiagnosisParent (#PCDATA)>
<!ATTLIST DiagnosisParent ref CDATA #IMPLIED>

<!ELEMENT Title (%TitleData;)*>

<!ELEMENT TitleAbbrev (%TitleData;)*>

<!ELEMENT AltTitle (%TitleData;)*>
<!ATTLIST AltTitle TitleType (Short | Display | Navlabel) #IMPLIED>

<!ELEMENT Para (%ParaElements;)*>
<!ATTLIST Para id CDATA #IMPLIED
               ExcludedDevices CDATA #IMPLIED
               IncludedDevices CDATA #IMPLIED>

<!ELEMENT LiteralLayout (%ParaElements;)*>
<!ATTLIST LiteralLayout id CDATA #IMPLIED>

<!ELEMENT Section
          ( Title?,
            AltTitle*,
            KeyPoint*,
            ( Para
            | LiteralLayout
            | Table
            | ItemizedList
            | OrderedList
            | QandASet
            | Contact )*,
            Section* )>
<!ATTLIST Section id CDATA #IMPLIED>

<!-- Table
  Tables are based on the CALS model.  See MIL-HDBK-28001 or the DocBook
  specification. -->

<!ELEMENT Table (Title, TitleAbbrev?, TGroup+)>
<!ATTLIST Table    ColSep (0 | 1) #IMPLIED
                   Frame (All | Bottom | Sides | Top | TopBot | None ) #IMPLIED
                   RowSep (0 | 1) #IMPLIED
                   TabStyle CDATA #IMPLIED
                   id CDATA #IMPLIED
                   ExcludedDevices CDATA #IMPLIED
                   IncludedDevices CDATA #IMPLIED>

<!ELEMENT TGroup   (ColSpec*,SpanSpec*,THead?,TFoot?,TBody)>
<!ATTLIST TGroup   Align (Center | Char | Justify | Left | Right) #IMPLIED
                   Char CDATA #IMPLIED
                   Charoff CDATA #IMPLIED
                   ColSep (0 | 1) #IMPLIED
                   Cols CDATA #REQUIRED
                   RowSep (0 | 1) #IMPLIED
                   TGroupStyle CDATA #IMPLIED>

<!ELEMENT ColSpec EMPTY>
<!ATTLIST ColSpec  Align (Center | Char | Justify | Left | Right) #IMPLIED
                   Char CDATA #IMPLIED
                   Charoff CDATA #IMPLIED
                   ColName CDATA #IMPLIED
                   ColNum CDATA #IMPLIED
                   ColSep (0 | 1) #IMPLIED
                   ColWidth CDATA #IMPLIED
                   RowSep (0 | 1) #IMPLIED>

<!ELEMENT SpanSpec EMPTY>
<!ATTLIST SpanSpec Align (Center | Char | Justify | Left | Right) #IMPLIED
                   Char CDATA #IMPLIED
                   Charoff CDATA #IMPLIED
                   ColSep (0 | 1) #IMPLIED
                   NameEnd CDATA #IMPLIED
                   NameSt CDATA #IMPLIED
                   RowSep (0 | 1) #IMPLIED
                   SpanName CDATA #IMPLIED>

<!ELEMENT THead (ColSpec*,Row+)>
<!ATTLIST THead Valign (Bottom | Middle | Top) #IMPLIED>

<!ELEMENT Row (entry+)>
<!ATTLIST Row RowSep (0 | 1) #IMPLIED Valign (Bottom | Middle | Top) #IMPLIED>

<!ELEMENT entry (%ParaElements;)*>
<!ATTLIST entry    Align (Center | Char | Justify | Left | Right) #IMPLIED
                   Char CDATA #IMPLIED
                   Charoff CDATA #IMPLIED
                   ColSep (0 | 1) #IMPLIED
                   Cols CDATA #IMPLIED
                   MoreRows CDATA #IMPLIED
                   NameEnd CDATA #IMPLIED
                   NameSt CDATA #IMPLIED
                   RowSep (0 | 1) #IMPLIED
                   SpanName CDATA #IMPLIED
                   Valign (Bottom | Middle | Top) #IMPLIED>

<!ELEMENT TFoot (ColSpec*,Row+)>
<!ATTLIST TFoot Valign (Bottom | Middle | Top) #IMPLIED>

<!ELEMENT TBody (Row+)>
<!ATTLIST TBody Valign (Bottom | Middle | Top) #IMPLIED>

<!-- end table elements -->

<!ELEMENT ItemizedList (ListTitle?,ListItem+)>
<!ATTLIST ItemizedList Compact (No) #IMPLIED
                       Style (bullet | dash | simple) #IMPLIED
                       id CDATA #IMPLIED
                       ExcludedDevices CDATA #IMPLIED
                       IncludedDevices CDATA #IMPLIED>

<!ELEMENT ListTitle (%TitleData;)*>

<!ELEMENT ListItem (%TextElements;)*>

<!ELEMENT OrderedList (ListTitle?,ListItem+)>
<!ATTLIST OrderedList Compact (No) #IMPLIED
                      Style
                      (Arabic | LAlpha | LRoman | UAlpha | URoman) #IMPLIED
                      id CDATA #IMPLIED
                      ExcludedDevices CDATA #IMPLIED
                      IncludedDevices CDATA #IMPLIED>

<!ELEMENT QandASet (MarkedUpTitle?,
                   (QandADiv+ | QandAEntry+)
                   )>
<!ATTLIST QandASet id CDATA #IMPLIED
                   ExcludedDevices CDATA #IMPLIED
                   IncludedDevices CDATA #IMPLIED>

<!ELEMENT MarkedUpTitle (%TitleData;)*>

<!ELEMENT QandADiv (MarkedUpTitle?,
                   (QandADiv+ | QandAEntry+)
                   )>
<!ATTLIST QandADiv id CDATA #IMPLIED>

<!ELEMENT QandAEntry (Question, Answer*)>
<!ATTLIST QandAEntry id CDATA #IMPLIED>

<!ELEMENT Question (%TextElements;)*>

<!ELEMENT Answer  (%TextElements;)*>

<!ELEMENT Contact (ContactName?,ContactDetail)>
<!ATTLIST Contact Status CDATA #IMPLIED>

<!ELEMENT ContactDetail (%Location;)>
<!ATTLIST ContactDetail id CDATA #IMPLIED>

<!ELEMENT PostalAddress (Street*,
                         City?,
                         CitySuffix?,
                         PoliticalSubUnitName?,
                         CountryName,
                         PostalCode_ZIP?,
                         PostalCodePosition
                        )>

<!ELEMENT ContactName (#PCDATA)>
<!ATTLIST ContactName ref CDATA #IMPLIED>

<!ELEMENT Street (#PCDATA)>

<!ELEMENT City (#PCDATA)>

<!ELEMENT CitySuffix (#PCDATA)>

<!ELEMENT PoliticalSubUnitName (#PCDATA)>
<!ATTLIST PoliticalSubUnitName ref CDATA #IMPLIED>

<!ELEMENT CountryName (#PCDATA)>
<!ATTLIST CountryName ref CDATA #IMPLIED>

<!ELEMENT PostalCode_ZIP (#PCDATA)>

<!ELEMENT PostalCodePosition (#PCDATA)>

<!ELEMENT Phone (#PCDATA)>

<!ELEMENT TollFreePhone (#PCDATA)>

<!ELEMENT Email (#PCDATA)>

<!ELEMENT WebSite (#PCDATA)>
<!ATTLIST WebSite xref CDATA #REQUIRED>

<!ELEMENT Emphasis (%ParaElements;)*>

<!ELEMENT Strong (%ParaElements;)*>

<!ELEMENT Subscript (%ParaElements;)*>

<!ELEMENT Superscript (%ParaElements;)*>

<!ELEMENT TT (%ParaElements;)*>
<!ATTLIST TT id CDATA #IMPLIED>

<!ELEMENT GeneName (%ParaElements;)*>

<!ELEMENT ScientificName (%ParaElements;)*>

<!ELEMENT DrugName (%ParaElements;)*>

<!ELEMENT InterventionName (%ParaElements;)*>

<!ELEMENT ForeignWord (%ParaElements;)*>

<!ELEMENT MainTopics (TermRef?)>

<!ELEMENT TermRef (#PCDATA)>
<!ATTLIST TermRef ref CDATA #IMPLIED>

<!ELEMENT SecondaryTopics (TermRef?)>

<!ELEMENT KeyPoint (%ParaElements;)*>
<!ATTLIST KeyPoint id CDATA #IMPLIED>

<!ELEMENT ProtocolRef (#PCDATA)>
<!ATTLIST ProtocolRef href CDATA #REQUIRED
                      nct_id CDATA #REQUIRED>

<!ELEMENT ProtocolLink (#PCDATA)>
<!ATTLIST ProtocolLink ref CDATA #REQUIRED>

<!ELEMENT LOERef (#PCDATA)>
<!ATTLIST LOERef href CDATA #REQUIRED>
<!ATTLIST LOERef dictionary CDATA #IMPLIED>
<!ATTLIST LOERef audience CDATA #IMPLIED>

<!ELEMENT LOELink (#PCDATA)>
<!ATTLIST LOELink ref CDATA #REQUIRED>

<!ELEMENT GlossaryTermRef (#PCDATA)>
<!ATTLIST GlossaryTermRef href CDATA #REQUIRED>
<!ATTLIST GlossaryTermRef dictionary CDATA #IMPLIED>
<!ATTLIST GlossaryTermRef audience CDATA #IMPLIED>

<!ELEMENT GlossaryTermLink (#PCDATA)>
<!ATTLIST GlossaryTermLink ref CDATA #REQUIRED>

<!ELEMENT ExternalRef (#PCDATA)>
<!ATTLIST ExternalRef xref CDATA #REQUIRED>

<!ELEMENT Quote (QuotedText,Source?,QuoteAuthor?)>

<!ELEMENT QuotedText (%TextElements;)*>

<!ELEMENT Note (%TextElements;)*>



<!-- Making the type attribute mandatory
     The type attribute needs to exist for Gatekeeper to being able
     and properly process the MediaLink elements.  This attribute is
     optional in the vendor DTD but we want to ensure that it exists
     when the documents are being pushed to Gatekeeper
     =============================================================== -->

<!ELEMENT MediaLink (Caption*)>
<!ATTLIST MediaLink 
       id CDATA #IMPLIED
       ref CDATA #REQUIRED
       type CDATA #REQUIRED
       alt CDATA #REQUIRED
       language NMTOKENS #IMPLIED
       audience              (Patients | Health_professionals) #IMPLIED
       placement             (image-center-full   |
                              image-center        |
                              image-center-medium |
                              image-left-medium   |
                              image-left-small    |
                              image-right-medium  |
                              image-right-small) #IMPLIED
       ExcludedDevices CDATA #IMPLIED
       IncludedDevices CDATA #IMPLIED>

<!ELEMENT EmbeddedVideo      (VideoTitle?, Caption*)>
<!ATTLIST EmbeddedVideo
       id        CDATA #IMPLIED
       ref       CDATA #REQUIRED
       hosting   CDATA #FIXED "youtube"
       unique_id CDATA #REQUIRED
       language  NMTOKENS #IMPLIED
       audience              (Patients | Health_professionals) #IMPLIED
       template              (Video100NoTitle     |
                              Video100Title       |
                              Video50NoTitle      |
                              Video50NoTitleRight |
                              Video50TitleRight   |
                              Video75NoTitle      |
                              Video75Title) #IMPLIED>

<!ELEMENT VideoTitle (#PCDATA)>

<!ELEMENT Caption (%TextElements;)*>
<!ATTLIST Caption language NMTOKENS #IMPLIED>

<!ELEMENT DrugRef  (#PCDATA)>
<!ATTLIST DrugRef  href CDATA #REQUIRED>
<!ATTLIST DrugRef  url  CDATA #IMPLIED>

<!ELEMENT MediaRef (#PCDATA)>
<!ATTLIST MediaRef href CDATA #REQUIRED>

<!ELEMENT Source (#PCDATA)>

<!ELEMENT QuoteAuthor (#PCDATA)>

<!ELEMENT SummaryRef (#PCDATA)>
<!ATTLIST SummaryRef href CDATA #IMPLIED>
<!ATTLIST SummaryRef url  CDATA #IMPLIED>

<!ELEMENT SummaryLink (#PCDATA)>
<!ATTLIST SummaryLink ref CDATA #IMPLIED>

<!ELEMENT Reference EMPTY>
<!ATTLIST Reference refidx CDATA #REQUIRED>

<!ELEMENT ReferenceSection (Citation+)>

<!-- A Citation contains formatted text to be printed for the citation -->
<!-- A Citation includes both literature and protocol references. -->
<!-- The refidx attribute of the Reference element within each top level
     SummarySection is linking to the idx attribute of the Citation element of
     the ReferenceSection.  These IDs are unique within a (top level)
     SummarySection. -->

<!ELEMENT Citation (%ParaElements;)*>
<!ATTLIST Citation idx CDATA #REQUIRED
                   PMID CDATA ""
                   MedlineID CDATA ""
                   CancerlitID CDATA ""
                   ProtocolID CDATA "" >

<!ELEMENT VerificationDate (#PCDATA)>

<!ELEMENT DateLastModified (#PCDATA)>

<!ELEMENT DateFirstPublished (#PCDATA)>

<!ELEMENT GivenName (#PCDATA)>

<!ELEMENT MiddleInitial (#PCDATA)>

<!ELEMENT SurName (#PCDATA)>

<!ELEMENT ProfessionalSuffix (#PCDATA)>

<!ELEMENT ProfessionalDisclaimer (%TextSectionElements;)*>

<!ELEMENT UrlInfo (PrimaryUrlID, SecondaryUrlID?)>

<!ELEMENT PrimaryUrlID (#PCDATA)>

<!ELEMENT SecondaryUrlID (#PCDATA)>

<!-- End Common Elements -->

<!-- ================================================================
     Summaries
     ================================================================
  PDQ Summaries on Treatment, Prevention, Screening, Supportive Care,
  Genetics, and Complementary/Alternative Medicine.
  Start element Summary. -->

<!ELEMENT Summary (SummaryMetaData,
                   SummaryTitle,
                   AltTitle+,
                   SummarySection+,
                   TranslationOf?,
                   PatientVersionOf?,
                   DateFirstPublished?,
                   DateLastModified?,
                   ProfessionalDisclaimer?
                  )>
<!ATTLIST Summary id CDATA #REQUIRED>
<!ATTLIST Summary LegacyPDQID CDATA #IMPLIED>
<!ATTLIST Summary ReplacementFor CDATA #IMPLIED>

<!ELEMENT SummaryMetaData (SummaryType,
                           SummaryAudience,
                           SummaryLanguage,
                           SummaryDescription,
                           SummaryURL,
                           SummaryToggleURL?,
                           MobileURL?,
                           SummaryEditorialBoard?,
                           MainTopics+,
                           SecondaryTopics*,
                           SummaryAbstract?,
                           SummaryKeyWords?,
                           PermaTargs?
                          )>
                           <!--
                           MobileURL+,
                           -->

<!-- Types of summary
  Possible values are:
    Treatment
    Supportive Care
    Screening
    Prevention
    Genetics
    Complementary and Alternative Medicine -->

<!ELEMENT SummaryType (#PCDATA)>

<!-- Types of summary audience
  Possible values are:
    Patients
    Health professionals -->

<!ELEMENT SummaryAudience (#PCDATA)>

<!-- Summary languages
  Possible values are:
    English
    Spanish -->

<!ELEMENT SummaryDescription (#PCDATA)>

<!-- Used by Cancer.gov website to link to the summary. -->
<!ELEMENT SummaryURL (#PCDATA)>
<!ATTLIST SummaryURL xref CDATA #REQUIRED>

<!-- Used by Cancer.gov website to link to HP/Patient version. -->
<!ELEMENT SummaryToggleURL (#PCDATA)>
<!ATTLIST SummaryToggleURL xref CDATA #REQUIRED>

<!-- Used by Cancer.gov website to link to the mobile site. -->
<!ELEMENT MobileURL (#PCDATA)>
<!ATTLIST MobileURL xref CDATA #REQUIRED>

<!ELEMENT SummaryLanguage (#PCDATA)>

<!ELEMENT SummaryEditorialBoard (#PCDATA)>
<!ATTLIST SummaryEditorialBoard ref CDATA #REQUIRED>

<!-- Used to add an abstract for PubMed -->
<!ELEMENT SummaryAbstract         (Para+)>

<!ELEMENT SummaryKeyWords (SummaryKeyWord+)>
<!ELEMENT SummaryKeyWord (#PCDATA)>

<!-- Used by Cancer.gov website to create permanent links -->
<!ELEMENT PermaTargs (PermaTarg+)>

<!ELEMENT PermaTarg EMPTY>
<!ATTLIST PermaTarg FragmentId CDATA #REQUIRED
                    PermaTargId CDATA #REQUIRED
                    PermaTargTitle CDATA #IMPLIED
                    PermaTargUrl CDATA #IMPLIED>

<!-- Link to original version of translation
  The id of the original version of a translated summary -->

<!ELEMENT TranslationOf EMPTY>
<!ATTLIST TranslationOf ref CDATA #REQUIRED>

<!ELEMENT PatientVersionOf EMPTY>
<!ATTLIST PatientVersionOf ref CDATA #REQUIRED>

<!ELEMENT SummarySection (SectMetaData?,
                          Title?,
                          AltTitle*,
                          KeyPoint*,
                          ((%ParaLevelElements;)*|SummarySection*)*,
                          ReferenceSection?
                         )>
<!ATTLIST SummarySection id CDATA #IMPLIED>
<!ATTLIST SummarySection ExcludedDevices CDATA #IMPLIED>
<!ATTLIST SummarySection IncludedDevices CDATA #IMPLIED>

<!-- The Diagnosis elements are links to Terminology with contents the
     preferred name. -->

<!ELEMENT SectMetaData (SpecificDiagnosis*,
                        SectionType*
                       )>

<!ELEMENT SectionType (#PCDATA)>

<!ELEMENT SummaryTitle (%TitleData;)* >

<!-- End Summaries -->


<!-- =========================================
     Organizations Start element Organization.
     ========================================= -->
<!ELEMENT Organization (OrganizationNameInformation,
                        OrganizationParent?,
                        IncludeInDirectory*,
                        OrganizationLocations,
                        OrganizationAffiliations?,
                        OrganizationType*,
                        PreferredProtocolOrganization?,
                        DateFirstPublished?,
                        DateLastModified?
                       )>
<!ATTLIST Organization id CDATA #REQUIRED>
<!ATTLIST Organization LegacyPDQID CDATA #IMPLIED>
<!ATTLIST Organization Status CDATA #IMPLIED>

<!ELEMENT OrganizationNameInformation (OfficialName,
                                       ShortName*,
                                       AlternateName*,
                                       FormerName*
                                      )>

<!ELEMENT OfficialName (Name)>
<!ATTLIST OfficialName id CDATA #IMPLIED>

<!ELEMENT Name (#PCDATA)>

<!ELEMENT ShortName (Name)>
<!ATTLIST ShortName id CDATA #IMPLIED>

<!ELEMENT AlternateName (#PCDATA)>

<!ELEMENT FormerName (#PCDATA)>

<!ELEMENT OrganizationParent (#PCDATA)>
<!ATTLIST OrganizationParent ref CDATA #IMPLIED>

<!ELEMENT IncludeInDirectory EMPTY>
<!ATTLIST IncludeInDirectory Directory (Genetics | Treatment) #REQUIRED>

<!--At present there will be no genetics directory-->

<!--<!ELEMENT PreferredProtocolContactMode (#PCDATA)>-->

<!ELEMENT OrganizationLocations (OrganizationLocation+)>


<!ELEMENT OrganizationLocation (%Location;)>
<!ATTLIST OrganizationLocation IncludeParentName (Yes) #IMPLIED
                               OrderParentNameFirst (Yes) #IMPLIED>
<!ATTLIST OrganizationLocation id CDATA #IMPLIED>

<!ELEMENT OrganizationAffiliations (ResearchBaseFor*,
                                    MemberOfProfessionalOrganization*,
                                    MemberOfCooperativeGroup*,
                                    MemberOfCCOP?
                                   )>

<!ELEMENT ResearchBaseFor (#PCDATA)>
<!ATTLIST ResearchBaseFor ref CDATA #IMPLIED>

<!ELEMENT MemberOfProfessionalOrganization (#PCDATA)>

<!--
<!ELEMENT CooperativeGroup (#PCDATA)>
<!ATTLIST CooperativeGroup ref CDATA #IMPLIED>
-->

<!ELEMENT MemberOfCooperativeGroup (#PCDATA)>
<!ATTLIST MemberOfCooperativeGroup  ref CDATA #IMPLIED>

<!ELEMENT MemberOfCCOP (#PCDATA)>
<!ATTLIST MemberOfCCOP ref CDATA #IMPLIED>

<!ELEMENT OrganizationType (#PCDATA)>

<!ELEMENT PreferredProtocolOrganization (#PCDATA)>
<!ATTLIST PreferredProtocolOrganization ref CDATA #IMPLIED>

<!-- End Organizations -->

<!-- =========================================
     Glossary  Start element GlossaryTerm.
     ========================================= -->

<!ELEMENT GlossaryTerm (TermName,
                        TermPronunciation?,
                        TermDefinition+,
                        TermRef?,
                        MediaLink*,
                        EmbeddedVideo*,
                        SpanishTermName?,
                        SpanishTermDefinition*,
                        DateFirstPublished?,
                        DateLastModified?,
                        RelatedInformation?
                       )>
<!ATTLIST GlossaryTerm id CDATA #REQUIRED>
<!ATTLIST GlossaryTerm LegacyPDQID CDATA #IMPLIED>

<!ELEMENT TermName (#PCDATA)>
<!ELEMENT SpanishTermName (#PCDATA)>
<!ELEMENT TermPronunciation (#PCDATA)>

<!ELEMENT TermDefinition (DefinitionText,
                          Dictionary*,
                          Audience+)>
<!ELEMENT SpanishTermDefinition (DefinitionText,
                                 Dictionary*,
                                 Audience+)>
<!ELEMENT DefinitionText (%TextSectionElements;)*>
<!ELEMENT Dictionary (#PCDATA)>
<!ELEMENT Audience (#PCDATA)>

<!ELEMENT RelatedInformation (RelatedExternalRef |
                              RelatedSummaryRef  |
                              RelatedDrugSummaryRef |
                              RelatedGlossaryTermRef)+>

<!ELEMENT RelatedExternalRef                  (#PCDATA)>
<!ATTLIST RelatedExternalRef xref      CDATA  #REQUIRED>
<!ATTLIST RelatedExternalRef UseWith (en | es) #IMPLIED>

<!ELEMENT RelatedSummaryRef                   (#PCDATA)>
<!ATTLIST RelatedSummaryRef  href      CDATA  #REQUIRED>
<!ATTLIST RelatedSummaryRef  UseWith (en | es) #IMPLIED>
<!ATTLIST RelatedSummaryRef  url       CDATA  #REQUIRED>

<!ELEMENT RelatedDrugSummaryRef               (#PCDATA)>
<!ATTLIST RelatedDrugSummaryRef href   CDATA  #REQUIRED>
<!ATTLIST RelatedDrugSummaryRef url    CDATA  #REQUIRED>

<!ELEMENT RelatedGlossaryTermRef              (#PCDATA)>
<!ATTLIST RelatedGlossaryTermRef href  CDATA  #REQUIRED>
<!ATTLIST RelatedGlossaryTermRef UseWith (en | es) #REQUIRED>
<!ATTLIST RelatedGlossaryTermRef audience (Patients | 
                                           Health_professionals) #REQUIRED>

<!-- End Glossary -->

<!-- =========================================
     Terminology  Start element Term.
     ========================================= -->

<!-- [@@INTERNAL] For Internal Use Only: CTGovInterventionType [INTERNAL@@] -->

<!ELEMENT Term (PreferredName,
                OtherName*,
                Definition*,
                TermTypeName?,
                SemanticType*,
                CTGovInterventionType?,
                TermRelationship?,
                RelatedWebsites*,
                MenuInformation?,
                DateFirstPublished?,
                DateLastModified?
               )>
<!ATTLIST Term id CDATA #REQUIRED>
<!ATTLIST Term LegacyPDQID CDATA #IMPLIED>
<!ATTLIST Term NCIThesaurusConceptID CDATA #IMPLIED>

<!ELEMENT PreferredName (#PCDATA)>

<!ELEMENT OtherName (OtherTermName,
                     OtherNameType+
                    )>

<!ELEMENT OtherTermName (#PCDATA)>

<!ELEMENT OtherNameType (#PCDATA)>

<!ELEMENT Definition (DefinitionText,
                      DefinitionType
                     )>

<!ELEMENT DefinitionType (#PCDATA)>

<!ELEMENT TermTypeName (#PCDATA)>

<!ELEMENT SemanticType (#PCDATA)>
<!ATTLIST SemanticType ref CDATA #IMPLIED>

<!-- [@@INTERNAL] For Internal Use Only -->
<!ELEMENT CTGovInterventionType (#PCDATA)>
<!-- End: For Internal Use Only [INTERNAL@@] -->

<!ELEMENT TermRelationship (ParentTerm | RelatedTerm)+>

<!ELEMENT ParentTerm (ParentTermName, ParentType)>

<!ELEMENT ParentTermName (#PCDATA)>
<!ATTLIST ParentTermName ref CDATA #IMPLIED>

<!ELEMENT ParentType (#PCDATA)>

<!ELEMENT RelatedTerm (RelatedTermName, RelationshipType)>

<!ELEMENT RelatedTermName (#PCDATA)>
<!ATTLIST RelatedTermName ref CDATA #IMPLIED>

<!ELEMENT RelationshipType (#PCDATA)>

<!ELEMENT MenuInformation (MenuItem+)>

<!ELEMENT MenuItem (MenuType, MenuParent*, DisplayName?)>
<!ATTLIST MenuItem SortOrder CDATA #IMPLIED>

<!ELEMENT MenuType (#PCDATA)>

<!ELEMENT MenuParent (#PCDATA)>
<!ATTLIST MenuParent ref CDATA #IMPLIED>

<!ELEMENT DisplayName (#PCDATA)>

<!-- End Terminology -->

<!-- ======================================================
     Genetics Directory, start element GENETICSPROFESSIONAL
     ====================================================== -->

<!-- The Genetics directory documents are independent from the other documents.
     No link exists from the genetics directory records to any of the other XML
     document types or vice versa.-->

<!ELEMENT GENETICSPROFESSIONAL (ID?,
                        NAME,
                        DEGREE+,
                        PRACTICELOCATIONS+,
                        TYPE*,
                        SPECIALTY*,
                        TEAMSERVICES*,
                        GENETICSERVICES*,
                        MEMBERSHIP*,
                        NOTES?
                        )>
<!ATTLIST GENETICSPROFESSIONAL id CDATA #IMPLIED>

<!ELEMENT ID (#PCDATA)>

<!ELEMENT NAME (SNAME,
                        FIRSTNAME,
                        LASTNAME,
                        SUFFIX?
                        )>

<!ELEMENT PRACTICELOCATIONS (INSTITUTION,
                        CADD+,
                        CCIT?,
                        CPUN?,
                        CCOD?,
                        CCTY,
                        CPHN?,
                        CEML?
                        )>
<!ELEMENT SPECIALTY (SPECIALTYNAME,BDCT?)>

<!ELEMENT SPECIALTYNAME (#PCDATA)>

<!ELEMENT GENETICSERVICES (FAMILYCANCERSYNDROME+)>

<!ELEMENT FAMILYCANCERSYNDROME (SYNDROMENAME,CANCERTYPE*)>

<!ELEMENT SYNDROMENAME (#PCDATA)>

<!ELEMENT CANCERTYPE (TYPENAME,CANCERSITE*)>

<!ELEMENT TYPENAME (#PCDATA)>

<!ELEMENT MEMBERSHIP (INSTITUTION+)>

<!ELEMENT INSTITUTION (#PCDATA)>

<!ELEMENT SNAME (#PCDATA)>

<!ELEMENT FIRSTNAME (#PCDATA)>

<!ELEMENT LASTNAME (#PCDATA)>

<!ELEMENT SUFFIX (#PCDATA)>

<!ELEMENT CADD (#PCDATA)>

<!ELEMENT CCIT (#PCDATA)>

<!ELEMENT CCOD (#PCDATA)>

<!ELEMENT DEGREE (#PCDATA)>

<!ELEMENT CPHN (#PCDATA)>

<!ELEMENT CEML (#PCDATA)>

<!ELEMENT CPUN (#PCDATA)>

<!ELEMENT CCTY (#PCDATA)>

<!ELEMENT TYPE (#PCDATA)>

<!ELEMENT TEAMSERVICES (#PCDATA)>

<!ELEMENT CANCERSITE (#PCDATA)>

<!ELEMENT BDCT (#PCDATA)>

<!ELEMENT NOTES (#PCDATA)>

<!-- End Genetics Directory-->

<!-- ======================================================
     Country, start element Country
     ====================================================== -->

<!ELEMENT Country (CountryFullName,
                        CountryShortName?,
                        CountryAlternateName*,
                        Continent,
                        PostalCodePosition,
                        DateFirstPublished?,
                        DateLastModified?
                        )>
<!ATTLIST Country id CDATA #REQUIRED>
<!ATTLIST Country LegacyPDQID CDATA #IMPLIED>

<!ELEMENT CountryFullName (#PCDATA)>

<!ELEMENT CountryShortName (#PCDATA)>

<!ELEMENT CountryAlternateName (#PCDATA)>

<!ELEMENT Continent (#PCDATA)>

<!-- End Country -->

<!-- ======================================================
     PoliticalSubUnit, start element PoliticalSubUnit
     ====================================================== -->

<!ELEMENT PoliticalSubUnit (PoliticalSubUnitFullName,
                        PoliticalSubUnitShortName?,
                        PoliticalSubUnitAlternateName*,
                        CountryName,
                        DateFirstPublished?,
                        DateLastModified?
                        )>
<!ATTLIST PoliticalSubUnit id CDATA #REQUIRED>
<!ATTLIST PoliticalSubUnit LegacyPDQID CDATA #IMPLIED>

<!ELEMENT PoliticalSubUnitFullName (#PCDATA)>

<!ELEMENT PoliticalSubUnitShortName (#PCDATA)>

<!ELEMENT PoliticalSubUnitAlternateName (#PCDATA)>

<!-- End PoliticalSubUnit -->

<!-- ======================================================
     CTGovProtocol, start element CTGovProtocol
     ====================================================== -->

<!ENTITY % CTGovContact        "GivenName?,
                                MiddleInitial?,
                                SurName,
                                ProfessionalSuffix?,
                                Phone?,
                                PhoneExt?,
                                Email?">

<!-- [@@INTERNAL] For Internal Use Only: UrlInfo [INTERNAL@@] -->

<!ELEMENT CTGovProtocol        (RequiredHeader,
                                IDInfo,
                                UrlInfo,
                                BriefTitle,
                                OfficialTitle?,
                                Sponsors,
                                BriefSummary,
                                DetailedDescription?,
                                CTEntryCriteria,
                                CTGovDisclaimer,
                                CurrentProtocolStatus,
                                StartDate?,
                                EndDate?,
                                ProtocolPhase+,
                                ProtocolDetail,
                                Eligibility,
                                ProtocolSpecialCategory*,
                                Location*,
                                VerificationDate,
                                LastChangedDate?)>

<!ELEMENT RequiredHeader       (DownloadDate,
                                LinkText)>

<!ELEMENT IDInfo               (OrgStudyID,
                                SecondaryID*,
                                NCTID)>

<!ELEMENT Sponsors             (PDQSponsorship*,
                                LeadSponsor,
                                Collaborator*,
                                OverallOfficial*,
                                OverallContact?,
                                OverallContactBackup?)>

<!ELEMENT OverallOfficial      (GivenName?,
                                MiddleInitial?,
                                SurName,
                                ProfessionalSuffix?,
                                Role?,
                                Affiliation?)>

<!ELEMENT Location             (Facility,
                                Status,
                                CTGovContact*,
                                CTGovContactBackup?,
                                Investigator*)>

<!ELEMENT Facility             (FacilityName?,
                                PostalAddress)>

<!ELEMENT Investigator         (GivenName?,
                                MiddleInitial?,
                                SurName,
                                ProfessionalSuffix?,
                                Role?)>

<!ELEMENT Eligibility (HealthyVolunteers?,
                       LowAge,
                       HighAge,
                       AgeText,
                       Gender?,
                       Diagnosis*,
                       ExclusionCriteria*
                      )>

<!ELEMENT HealthyVolunteers (#PCDATA)>

<!ELEMENT LowAge (#PCDATA)>

<!ELEMENT HighAge (#PCDATA)>

<!ELEMENT AgeText (#PCDATA)>

<!ELEMENT Gender (#PCDATA)>

<!ELEMENT ExclusionCriteria (#PCDATA)>
<!ATTLIST ExclusionCriteria ref CDATA #IMPLIED>

<!ELEMENT RelatedWebsites (#PCDATA)>
<!ATTLIST RelatedWebsites xref CDATA #REQUIRED>

<!ELEMENT ProtocolPhase (#PCDATA)>

<!ELEMENT ProtocolDetail (StudyType,
                          StudyCategory+,
                          StudyDesign*,
                          StudyCondition*,
                          Gene*
                         )>

<!ELEMENT StudyType (#PCDATA)>

<!ELEMENT StudyCategory (StudyCategoryName,
                         Intervention*
                        )>

<!ELEMENT StudyCategoryName (#PCDATA)>

<!ELEMENT Intervention (InterventionType,
                        InterventionTypeParent*,
                        InterventionNameLink*
                       )>

<!ELEMENT InterventionType (#PCDATA)>
<!ATTLIST InterventionType ref CDATA #IMPLIED>

<!ELEMENT InterventionTypeParent (#PCDATA)>
<!ATTLIST InterventionTypeParent ref CDATA #IMPLIED>

<!ELEMENT InterventionNameLink (#PCDATA)>
<!ATTLIST InterventionNameLink ref CDATA #IMPLIED>

<!ELEMENT StudyDesign (#PCDATA)>

<!ELEMENT StudyCondition (SpecificCondition, ConditionParent+)>

<!ELEMENT SpecificCondition (#PCDATA)>
<!ATTLIST SpecificCondition ref CDATA #IMPLIED>

<!ELEMENT ConditionParent (#PCDATA)>
<!ATTLIST ConditionParent ref CDATA #IMPLIED>

<!ELEMENT Gene (SpecificGene)>

<!ELEMENT SpecificGene (#PCDATA)>
<!ATTLIST SpecificGene ref CDATA #IMPLIED>

<!ELEMENT ProtocolSpecialCategory (#PCDATA)>

<!ELEMENT StartDate (#PCDATA)>
<!ATTLIST StartDate DateType (Actual|Projected) #REQUIRED>

<!ELEMENT CurrentProtocolStatus (#PCDATA)>

<!-- CTGov contact elements. -->
<!ELEMENT CTGovContact         (%CTGovContact;)>
<!ELEMENT CTGovContactBackup   (%CTGovContact;)>
<!ELEMENT OverallContact       (%CTGovContact;)>
<!ELEMENT OverallContactBackup (%CTGovContact;)>

<!-- CTGov text content elements. -->
<!ELEMENT Affiliation          (#PCDATA)>
<!ELEMENT BriefTitle           (#PCDATA)>
<!ELEMENT Collaborator         (#PCDATA)>
<!ELEMENT CTGovDisclaimer      (%TextSectionElements;)*>
<!ELEMENT DownloadDate         (#PCDATA)>
<!ELEMENT EndDate              (#PCDATA)>
<!ELEMENT FacilityName         (#PCDATA)>
<!ELEMENT LastChangedDate      (#PCDATA)>
<!ELEMENT LeadSponsor          (#PCDATA)>
<!ELEMENT LinkText             (#PCDATA)>
<!ELEMENT NCTID                (#PCDATA)>
<!ELEMENT OfficialTitle        (#PCDATA)>
<!ELEMENT OrgStudyID           (#PCDATA)>
<!ELEMENT PDQSponsorship       (#PCDATA)>
<!ELEMENT PhoneExt             (#PCDATA)>
<!ELEMENT Role                 (#PCDATA)>
<!ELEMENT SecondaryID          (#PCDATA)>
<!ELEMENT Status               (#PCDATA)>

<!-- (Modestly) marked-up text. -->
<!ELEMENT BriefSummary         ((Para|ItemizedList)+)>
<!ELEMENT CTEntryCriteria      ((Para|ItemizedList)+)>
<!ELEMENT DetailedDescription  ((Para|ItemizedList)+)>

<!-- Links (and other attributes) for CTGov elements. -->
<!ATTLIST Collaborator          ref  CDATA                 #IMPLIED>
<!ATTLIST Collaborator          type (Person|Organization) #IMPLIED>
<!ATTLIST CTGovContact          ref  CDATA                 #IMPLIED>
<!ATTLIST CTGovContactBackup    ref  CDATA                 #IMPLIED>
<!ATTLIST CTGovProtocol         id   CDATA                 #REQUIRED>
<!ATTLIST FacilityName          ref  CDATA                 #IMPLIED>
<!ATTLIST Investigator          ref  CDATA                 #IMPLIED>
<!ATTLIST LeadSponsor           ref  CDATA                 #IMPLIED>
<!ATTLIST LeadSponsor           type (Person|Organization) #IMPLIED>
<!ATTLIST LinkText              xref CDATA                 #REQUIRED>
<!ATTLIST OverallContact        ref  CDATA                 #IMPLIED>
<!ATTLIST OverallContactBackup  ref  CDATA                 #IMPLIED>
<!ATTLIST OverallOfficial       ref  CDATA                 #IMPLIED>

<!-- End CTGovProtocol -->

<!-- ===========================================================
     DrugInformationSummary start element DrugInformationSummary
     =========================================================== -->

<!ELEMENT DrugInformationSummary
          ( DrugInfoMetaData,
            DrugInfoTitle,
            Section+,
            DrugInfoDisclaimer,
            DateFirstPublished,
            DateLastModified?)>
<!ATTLIST DrugInformationSummary id CDATA #REQUIRED>

<!-- Note:  The CDR Vendor Filter will ensure that the Section elements
            used within a DrugInformationSummary will not contain these
            elements:  AltTitle, KeyPoints, nested Section elements -->

<!ELEMENT DrugInfoMetaData
          ( DrugInfoType,
            DrugInfoAudience,
            DrugInfoDescription,
            DrugInfoURL,
            Manufacturers?,
            FDAApproved?,
            TerminologyLink,
            GlossaryLink,
            USBrandNames?,
            Synonyms?,
            PronunciationInfo?,
            FDAExternalRef? )>

<!ELEMENT DrugInfoType (#PCDATA)>
<!-- Types of DrugInfoType
     Possible values are:
     Brief
     Detailed -->
<!ATTLIST DrugInfoType Combination (Yes) #IMPLIED>

<!ELEMENT DrugInfoAudience (#PCDATA)>

<!-- Types of DrugInfoAudience
     Possible values are:
     Patients
     Health professionals -->

<!ELEMENT DrugInfoDescription (#PCDATA)>

<!ELEMENT DrugInfoURL (#PCDATA)>
<!ATTLIST DrugInfoURL xref CDATA #REQUIRED>

<!ELEMENT Manufacturers ( Manufacturer* )>

<!ELEMENT Manufacturer (#PCDATA)>
<!ATTLIST Manufacturer ref CDATA #IMPLIED>

<!ELEMENT FDAApproved (#PCDATA)>

<!ELEMENT TerminologyLink (#PCDATA)>
<!ATTLIST TerminologyLink ref CDATA #IMPLIED>

<!ELEMENT GlossaryLink (#PCDATA)>
<!ATTLIST GlossaryLink ref CDATA #IMPLIED>

<!ELEMENT USBrandNames ( USBrandName* )>

<!ELEMENT USBrandName (#PCDATA)>

<!ELEMENT Synonyms ( Synonym* )>

<!ELEMENT Synonym (#PCDATA)>

<!-- Only MediaLink elements of type="audio/mpeg" are allowed here -->
<!ELEMENT PronunciationInfo ( TermPronunciation?,
                              MediaLink* )>

<!ELEMENT FDAExternalRef                  (#PCDATA)>
<!ATTLIST FDAExternalRef xref       CDATA  #REQUIRED>

<!ELEMENT DrugInfoTitle (#PCDATA)>

<!ELEMENT DrugInfoDisclaimer (%TextSectionElements;)*>

<!-- End DrugInformationSummary -->


<!-- ===========================================================
     PDQBoardInfo start element PDQBoard
     =========================================================== -->
<!-- *** PDQBoardInfo slated for future release ***

<!ELEMENT PDQBoard
          ( BoardName,
            BoardDescription,
            BoardUrl,
            BoardMembers)>
<!ATTLIST PDQBoard id CDATA #REQUIRED>

<!ELEMENT BoardName  (#PCDATA)>
<!ELEMENT BoardDescription  (#PCDATA)>
<!ELEMENT BoardUrl  (#PCDATA)>
<!ATTLIST BoardUrl xref CDATA #REQUIRED>

<!ELEMENT BoardMembers (BoardMember+)>

<!ELEMENT BoardMember (MemberDisplayString,
                       MemberSortKey,
                       BoardRole?,
                       Affiliations)>

<!ELEMENT Affiliations (BoardAMemberffiliation+)>

<!ELEMENT BoardMemberAffiliation (AffiliationName*,
                                  AffiliationPlace)>

-->
<!-- End PDQBoard -->

<!-- [@@INTERNAL] =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
<!-- Begin DTD for Internal Use Only                             -->
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

<!-- Media element requested by Cancer.gov -->
<!ELEMENT Media                (#PCDATA)>
<!ATTLIST Media                 Type CDATA                 #REQUIRED
                                Size CDATA                 #REQUIRED
                                Encoding (base64|hex)      #REQUIRED>

<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
<!-- End   Section for Internal Use Only                         -->
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= [INTERNAL@@] -->

<!-- End CDR DTD -->
