Test Harnesses/PubPreviewTest/Web References/PubPreviewWS/CDRPreview.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gatekeeper.cancer.gov/CDRPreview/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://gatekeeper.cancer.gov/CDRPreview/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gatekeeper.cancer.gov/CDRPreview/">
      <s:element name="ReturnXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="content">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="template_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReturnXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnXML" />
  </wsdl:message>
  <wsdl:message name="ReturnXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="CDRPreviewSoap">
    <wsdl:operation name="ReturnXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return document HTML based on the XML input</wsdl:documentation>
      <wsdl:input message="tns:ReturnXMLSoapIn" />
      <wsdl:output message="tns:ReturnXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CDRPreviewSoap" type="tns:CDRPreviewSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnXML">
      <soap:operation soapAction="http://gatekeeper.cancer.gov/CDRPreview/ReturnXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CDRPreviewSoap12" type="tns:CDRPreviewSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnXML">
      <soap12:operation soapAction="http://gatekeeper.cancer.gov/CDRPreview/ReturnXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDRPreview">
    <wsdl:port name="CDRPreviewSoap" binding="tns:CDRPreviewSoap">
      <soap:address location="http://localhost:25553/CDRPreview.asmx" />
    </wsdl:port>
    <wsdl:port name="CDRPreviewSoap12" binding="tns:CDRPreviewSoap12">
      <soap12:address location="http://localhost:25553/CDRPreview.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>